**/__pycache__/
**/*.egg-info/
.vscode

build/

bitgen/cuda.cpython-39-x86_64-linux-gnu.so

**/*.log
log/*
torch_compile_debug/*
profiler/*
debug/
**/*.ncu-rep
generated_codes/*
.cache_bitgen/*
generated_code

datasets
datasets*.tar.gz
!scripts/datasets
raw_results/*
